<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioinformatics Chat Agent</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="navbar">
        <a href="/" class="navbar-home-link">
            <div class="navbar-brand">
                <img src="{{ url_for('static', filename='images/BioinfoAIIcon.png') }}" alt="BioinfoAI icon" class="navbar-icon">
                <span class="navbar-title">BioinfoAI</span>
            </div>
        </a>
    </header>
    <main class="app-layout">
            <div class="grid-topics">
                <h2>What Bioinformatics Topic is on the Agenda?</h2>
                <ul class="featured-topics">
                    <li data-topic="genome_assembly">Genome Assembly</li>
                    <li data-topic="sequence_alignment" class="selected">Sequence Alignment</li>
                    <li data-topic="variant_calling">Variant Calling</li>
                    <li data-topic="transcriptomics">Transcriptomics</li>
                    <li data-topic="protein_structure">Protein Structure</li>
                    <li data-topic="phylogenetics">Phylogenetics</li>
                </ul>
            </div>
    </main>

    <script>
        const topicItems = document.querySelectorAll('.featured-topics li');
        
        topicItems.forEach((item) => {
            item.addEventListener('click', () => {
                console.log("clicked")
                const topic = item.textContent.trim();
                const encodedTopic = encodeURIComponent(topic.toLowerCase().replace(/\s+/g, '_'));
                window.location.href = `/chat?topic=${encodedTopic}`;
            });
        });
    </script>
</body>
</html>